<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>UA Sensors Visualization</title>


        {% assets "css_all" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" type="text/css" />
        {% endassets %}

        <style type="text/css">

        body {
            margin: 0;
        }

        .form-control {
            color: #000;
        }

        .hidden {
            display: none;
        }

        .chart-container {
            box-sizing: border-box;
            margin: 40px 80px 40px 380px;
        }

        .chart {
            width: 100%;
            height: 800px;
        }

        .control-container {
            box-sizing: border-box;
            height: 100%;
            overflow:hidden;
            padding: 40px 20px;
            width: 300px;
            position:fixed;
            left: 0;
            top: 0;
        }

        .axisLabels {
            color: #fff;
            font-size: 16px;
            font-family: arial;
        }

        .flot-tick-label {
            color: #fff;
        }
        </style>
    </head>
    <body>
        <div class="control-container well bs-component">
            <div class="col">
                <form id="filter-form" role="form">
                    <div class="form-group">
                        <select id="sensor" name="sensor" class="form-control">
                            {% for id in sensors %}
                                <option>{{id}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <select id="date-select" class="form-control">
                            <option value="0">Select Time Period</option>
                            <option value="1">1 Day</option>
                            <option value="3">3 Days</option>
                            <option value="7">1 Week</option>
                            <option value="14">2 Weeks</option>
                            <option value="30">1 Month</option>
                            <option value="custom">Custom Time Period</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input name="start-date" id="start-date" class="form-control hidden" />
                    </div>

                    <div class="form-group">
                        <input name="end-date" id="end-date" class="form-control hidden" />
                    </div>

                    <div class="form-group">
                        <button id="update-chart" class="btn btn-primary">Update</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="chart-container">
            <div id="sensor-chart" class="chart"></div>
        </div>

        {% assets "js_all" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}

        <script type="text/javascript">

        var formatDate = function(dateTime) {
            date = dateTime.toJSON().substring(0, 10);
            dateParts = date.split('-');
            return dateParts[1] + "/" + dateParts[2] + "/" + dateParts[0];
        };

        $("#sensor, #date-select").select2({});
        $('#start-date, #end-date').datepicker({
            autoclose: true
        });

        var data = {{data|safe}};
        var series = [];
        for (var i = 0; i < data.length; ++i) {
            series.push(data[i].data);
        }

        var sensorSelectEl = document.getElementById('sensor');

        var sensorChart = $.plot($("#sensor-chart"), series, {
            legend: {
                backgroundOpacity: 0
            },
            xaxis: {
                mode: "time",
            },
            series: {
                lines: { show: true,  fill: false },
                points: {
                    show: true,
                    fill: true,
                },
                shadowSize: 0
            },
            grid: {
                borderWidth: 2,
                color: "#ececec",
                markingsColor: "#f4f4f4",
                hoverable: true
            },
            colors: ["#2a9fd6", "#ff8800", "#cc0000", "#9933cc", "#4e7600"],
            tooltip: true,
            tooltipOpts: {
                content: "%y meters at %x"
            }
        });

        $('#update-chart').click(function(e) {
            e.preventDefault();
            $.getJSON('/api/data', $('#filter-form').serialize(), function(data) {
                var updatedSeries = [];
                for (var i = 0; i < data.length; ++i) {
                    updatedSeries.push(data[i].data);
                }
                sensorChart.setData(updatedSeries);
                sensorChart.setupGrid();
                sensorChart.draw();
            });
        });

        $startDateEl = $('#start-date');
        $endDateEl = $('#end-date');
        $('#date-select').on("change", function(e) {
            if (this.value == 'custom') {
                $startDateEl.show().removeClass('hidden').val('');
                $endDateEl.show().removeClass('hidden').val('');
            } else if (this.value == '0') {
                $startDateEl.hide().val('');
                $endDateEl.hide().val('');
            } else {
                var days = parseInt(this.value);
                var endDate = new Date();
                var startDate = new Date(endDate.getTime() - (days * 24 * 60 * 60 * 1000));
                $startDateEl.hide().val(formatDate(startDate));
                $endDateEl.hide().val(formatDate(endDate));
            }
        });

        </script>
    </body>
</html>