<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{site_title}}</title>


        {% assets "css_all" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" type="text/css" />
        {% endassets %}

        <style type="text/css">

        body {
            margin: 0;
        }

        .form-control {
            color: #000;
        }

        .hidden {
            display: none;
        }

        .chart-container {
            box-sizing: border-box;
            margin: 40px 40px 40px 340px;
        }

        .chart {
            width: 100%;
            height: 600px;
        }

        .control-container {
            box-sizing: border-box;
            height: 100%;
            overflow:hidden;
            padding: 40px 20px;
            width: 300px;
            position:fixed;
            left: 0;
            top: 0;
        }

        .axisLabels {
            color: #fff;
            font-size: 16px;
            font-family: arial;
        }

        .flot-tick-label {
            color: #fff;
        }
        </style>
    </head>
    <body>
        <div class="control-container well bs-component">
            <div class="col">
                <form id="filter-form" role="form">
                    <fieldset>
                    <legend>Filter data</legend>
                    <div class="form-group">
                        <select id="sensor" name="sensor" class="form-control">
                            {% for value, name in sensor_options %}
                                <option value="{{value}}">{{name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <select id="date-select" class="form-control">
                            <option value="0">Select Time Period</option>
                            <option value="1">1 Day</option>
                            <option value="3">3 Days</option>
                            <option value="7" selected="selected">1 Week</option>
                            <option value="14">2 Weeks</option>
                            <option value="30">1 Month</option>
                            <option value="custom">Custom Time Period</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <input id="start-date"
                            name="start-date"
                            value="{{start_date}}"
                            class="form-control"
                            style="display:none"
                            placeholder="Start date" />
                    </div>

                    <div class="form-group">
                        <input id="end-date"
                            name="end-date"
                            value="{{end_date}}"
                            class="form-control"
                            style="display:none"
                            placeholder="End date" />
                    </div>

                    <div class="form-group">
                        <label style="color:#ddd; font-weight: normal">
                            <input id="auto-fresh-checkbox" type="checkbox">
                            Refresh every {{refresh_interval}} minutes
                        </label>
                    </div>

                    <div class="form-group">
                        <button id="update-chart" class="btn btn-success" data-loading-text="Loading...">
                            Refresh data
                        </button>
                    </div>
                    </fieldset>
                </form>
                <br />
                <form id="plot-form" role="form">
                    <fieldset>
                    <legend>Plot data</legend>
                    <div id="data-legend" class="form-group">
                    </div>
                    </fieldset>
                </form>
            </div>
        </div>

        <div class="chart-container">
            <h2 id="chart-title" style="text-align:center">{{sensor_options[0][1]}}</h2>
            <div id="sensor-chart" class="chart"></div>
            <div></div>
        </div>

        {% assets "js_all" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}


        <script type="text/javascript">

        // Helper function to format date for server
        var formatDate = function(dateTime) {
            date = dateTime.toJSON().substring(0, 10);
            dateParts = date.split('-');
            return dateParts[1] + "/" + dateParts[2] + "/" + dateParts[0];
        };


        // Chart constructor
        //
        // @param $el: jQuery selector with chart div
        // @param option: Flot options object
        var Chart = function($el, options) {
            this.$el = $el;
            this.options = options;
            this.colors = options.colors;
            this.$chart = $.plot(this.$el, [], this.options);
            this.data = [];
            return this;
        };

        Chart.prototype.setData = function(data)
        {
            this.data = data;
            return this;
        }

        // Plot the data
        Chart.prototype.plot = function() {
            // Need copy of data for scope
            var data = this.data;

            // Get data series and associate with a color
            var filteredSeries = [];
            $("#data-legend").find("input:checked").each(function() {
                var index = $(this).data("index");
                filteredSeries.push({color: index, data: data[index].data});
            });

            // TODO(richard-to): Make down sampling smarter
            this.$chart.getOptions().series.downsample.threshold = Math.floor(this.$el.width() / 5);

            // Setup data and draw chart
            this.$chart.setData(filteredSeries);
            this.$chart.setupGrid();
            this.$chart.resize();
            this.$chart.draw();
        };

        // Creates legend that can toggle data points.
        //
        // Note: Need to call this before calling plot, otherwise
        // an error will occur right now.
        //
        Chart.prototype.drawLegend = function() {
            $("#data-legend").text('');
            for (var i = 0; i < this.data.length; ++i) {
                var color = this.colors[i % this.colors.length];
                var units = this.data[i].meta.value_unit;

                var type = this.data[i].meta.value_type;
                type = type.charAt(0).toUpperCase() + type.substring(1);

                var $control = $('<label><input type="checkbox"></label>');
                $control.css('color', color).append(" " + type + " in " + units);
                $control.find('input')
                    .prop("checked", "checked")
                    .data('index', i)
                    .click(this.plot.bind(this));

                $("#data-legend").append($control);
            }
            return this;
        };

        // Rerenders chart if browser is resized
        Chart.prototype.enableResize = function() {
            $(window).resize(this.plot.bind(this));
            return this;
        };


        // Create fancy dropdown boxes
        $("#sensor, #date-select").select2({});

        // Create date picker widgets
        $('#start-date, #end-date').datepicker({
            autoclose: true
        });


        // Data from database
        var data = {{data|safe}};


        // List of colors
        var colors = ["#2a9fd6", "#ff8800", "#cc0000", "#9933cc", "#4e7600"];


        // Chart options
        var options =  {
            legend: {
                backgroundOpacity: 0
            },
            xaxis: {
                mode: "time",
            },
            series: {
                lines: { show: true,  fill: false },
                points: {
                    show: false,
                    fill: false,
                },
                shadowSize: 0,
                downsample: {
                    threshold: 1000
                }
            },
            grid: {
                borderWidth: 2,
                color: "#ececec",
                markingsColor: "#f4f4f4",
                hoverable: false
            },
            colors: colors,
            tooltip: false
        }


        // Load data, create plot and legend
        var sensorChart = new Chart($("#sensor-chart"), options, colors);
        sensorChart.setData(data).drawLegend().enableResize().plot();


        // Refresh every 20 minutes. Need to use millis.
        var refreshInterval = {{refresh_interval}} * 60 * 1000;
        setInterval(function() {
            if ($('#auto-fresh-checkbox').prop('checked')) {
                $('#update-chart').click();
            }
        }, refreshInterval);


        // Update chart when "Refresh data" button clicked
        $('#update-chart').click(function(e) {
            e.preventDefault();

            var btn = $(this);
            btn.button('loading');

            $.getJSON('/api/data', $('#filter-form').serialize(), function(data) {
                sensorChart.setData(data).drawLegend().plot();
                $("#chart-title").text($("#sensor").select2('data').text);
                btn.button('reset');
            });
        });


        // Show custom date picker boxes when custom time period is selected
        $('#date-select').on("change", function(e) {
            if (this.value == 'custom') {
                $('#start-date').show();
                $('#end-date').show();
            } else if (this.value == '0') {
                $('#start-date').hide().val('');
                $('#end-date').hide().val('');
            } else {
                var days = parseInt(this.value);
                var endDate = new Date();
                var startDate = new Date(endDate.getTime() - (days * 24 * 60 * 60 * 1000));
                $('#start-date').hide().val(formatDate(startDate));
                $('#end-date').hide().val(formatDate(endDate));
            }
        });
        </script>
    </body>
</html>